@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700;900&display=swap');

body{
    font-family:  'Jost', sans-serif;
    background: rgb(236, 59, 71);
}
.main-container{
  
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    background: #fff;
    border-radius: 1.5em;
}
.block-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-header{
    padding: 20px 20px;
    font-weight: 700;
    margin-top: 50px;
    font-weight: 500;
    font-size: 40px;
}
.calendar-header{
    display: flex;
    gap:20px
}
.day-block{
    display: flex;
    justify-content: center;
    
   
}
.day-text{
    font-size: 20px;
}
/* Calendar table */
.calendar-container{
    padding: 0px 20px;
}
.calendar-table{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    
}
.calendar-day{
    border: 1px solid #dadada;
    width: 120px;
    height: 120px;
}
.day-selected{
    background-color:#dadada;
}
.calendar-day:hover{
    background-color: #d3d3d3;
}
.number-text{
    margin-left: 20px;
    font-weight: 700;
    font-size: 25px;
}
.payments-text{
    text-align: center;
}
.gray-number-text{
    margin-left: 20px;
    font-weight: 700;
    font-size: 25px;
    color: #d3d3d3 ;

}
/* List */
.list-container{
    
    width: 450px;
    background-color: rgba(248, 248, 248, 50%);
}
.list-day-text{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 300;
    font-size: 25px;
    color: rgb(236, 59, 71);
}
.list-header{
    text-align: center;
    margin-top: 50px;
    margin-left: 30px;
    font-weight: 700;
    font-size:40px;
}
.amount-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.amount{
    font-weight: 500;
    font-size: 20px;
    color: rgb(236, 59, 71);
}

.list-amount-text{
  
    font-weight: 500;
    font-size: 22px;
}
